@font-face {
  font-family: "pokemon-font";
  src: url("fonts/pokemon-font.eot");
  src: url("fonts/pokemon-font.otf") format("embedded-opentype"),
    url("fonts/pokemon-font.woff2") format("woff2"),
    url("fonts/pokemon-font.woff") format("woff"),
    url("fonts/pokemon-font.ttf") format("truetype");
}
