@font-face {
  font-family: "pokemon-font";
  src: url("fonts/pokemon-font.eot");
  src: url("fonts/pokemon-font.otf") format("embedded-opentype"),
    url("fonts/pokemon-font.woff2") format("woff2"),
    url("fonts/pokemon-font.woff") format("woff"),
    url("fonts/pokemon-font.ttf") format("truetype");
}

body {
  font-family: "pokemon-font", monospace;
  font-size: 1rem;
  margin: auto;
}

ul {
  list-style-type: none;
}

.pokedex__container {
  max-width: 100%;
}
.pokedex__container--title {
  display: flex;
  width: 95%;
  justify-content: center;
  font-size: 0.7rem;
}

#pokedex__container--pokemons {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  max-width: 100%;
  padding-left: 15%;
}

.pokedex__buttons {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

#pokedex__buttons--prev,
#pokedex__buttons--next {
  border: none;
  background-color: white;
}
.pokedex__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.info__container {
  font-size: 0.7rem;
}

.info__image {
  width: 40%;
  height: auto;
}

img {
  width: 80%;
}

@media (min-width: 568px) {
  .pokedex__container--title {
    font-size: 1rem;
  }

  #pokedex__container--pokemons {
    font-size: 0.7rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    height: 28vh;
  }

  #pokedex__buttons--prev,
  #pokedex__buttons--next {
    font-size: 2rem;
  }
  .pokedex__info {
    flex-direction: row;
    justify-content: center;
  }

  .info__image {
    width: 40%;
  }

  img {
    width: 100%;
  }

  .info__container {
    font-size: 0.8rem;
  }
}
@media (min-width: 750px) {
  .pokedex__container--title {
    font-size: 1.5rem;
  }

  #pokedex__container--pokemons {
    font-size: 1rem;
    height: 23vh;
  }

  .pokedex__buttons {
    padding: 1.5%;
  }
  #pokedex__buttons--prev,
  #pokedex__buttons--next {
    font-size: 2rem;
  }

  .info__image {
    width: 40%;
  }

  img {
    width: 80%;
  }

  .info__container {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  #pokedex__container--pokemons {
    height: 20vh;
  }

  .pokedex__buttons {
    padding: 1%;
  }

  #pokedex__buttons--prev,
  #pokedex__buttons--next {
    font-size: 1.5rem;
  }

  img {
    width: 60%;
  }

  .info__container {
    font-size: 1rem;
  }
}
